@use "sass:color";


// .card .card-img-overlay h3 {
//     display: none;
  
//   }
//   .card:hover .card-img-overlay h3 {
//     display: block;
//   }
  
  .carousel-control-next,
  .carousel-control-prev {
      filter: invert(100%);
  }


.card {
    .card-img-overlay {
        h3 {
        display: none;
        }
    }

    &:hover .card-img-overlay {
        h3 {
            display: block;
        }
    }
}


@mixin ring($size, $color) {
    height: $size;
    width: $size;
    border: $size / 15 solid $color;
    border-radius: 50%;
    box-shadow: inset $size/20 $size/20 20px 1px $color, 
        $size/15 $size/15 20px 1px $color;
}



.scss {
    .round1 {
        @include ring(20vw, red)
    }
    .round2 {
        @include ring(20vw, red)
    }
}

.imb {
    width: 100%;
    height: 500px;
    position: relative;
}

@for $i from 3 through 6 {
    .round#{$i} {
        @include ring((20vw / (10 - $i)) * $i, gray);
        position: absolute;
        top: #{100 - ($i * 20)}px;
        left: 30px + $i * 50;
    }
  }